/lab3/errors/
/lab3/img/
/venv
/lab4/data/
/lab4/img/
/lab5/img/
/lab5/data/
/lab1/img/
/lab2/img/
/lab2/results/
/lab6/data/
/lab7/ex_1_32.csv
/lab7/ex_1_64.csv
/lab7/ex_2_32.csv
/lab7/ex_2_64.csv
/lab8/results.csv
/lab9/results.csv
